*,
*::before,
*::after {
    box-sizing: border-box;  
}

html{
     height: auto;
     background-image: linear-gradient(#261D42,#9b28d5);
     font-family: 'Comfortaa', cursive;
     font-size: 20px;
     color: white;
     background-repeat: no-repeat;
 }
.flex-list {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-item{
    list-style: none;
    margin-right: 3rem;
}
.flex-item a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 24px;
}
.flex-item:first-child{
    margin-right: auto;
}
.flex-item a:hover:not(:active){
    color:#9b28d5;
}
#motivation {
    margin-top: 60px;
    text-align: center;
}
#circle{
    margin-top: 2rem;
    display: flex;
    justify-content: center; /* this puts the circle in the center */
}

.timer {
    color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    /* this part creates the circle */
}

.fa-play, .fa-rotate-right{
    margin-top: 3rem;
    color: #fff;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
}
.fa-play, .fa-rotate-right:hover{
    color: #000;
    border: 2px solid black;
    transition: 0.3 ease;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_message{
    display: block;
    padding: 1rem 0;
    text-align: center;
    color: #272343;
    background: #e3f6f5;
    border-radius: 0.5rem;
    transition: 0.5s ease;
}

.row{
    display: flex;
    justify-content: center;
}
.col-5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}

.btn {
    padding: 10px 25px;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}

.btn a:hover:not(.active){
    color: #9b28d5;
}
